<div class="container mb-5">
  <div class="oferta" *ngIf="oferta.id !== -1">
    <div class="row">
      <div class="col">
        <h4>{{ oferta.titulo }} - {{ oferta.descricaoOferta }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>
        <div class="thumbnails">
          <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <h1>R$ {{ oferta.valor }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1" style="margin-bottom: 150px">
    <div class="col">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            routerLink="como-usar"
            data-bs-toggle="tab"
            type="button"
            role="tab"
          >
            Como usar?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" routerLink="onde-fica" data-bs-toggle="tab" type="button" role="tab">
            Onde fica?
          </button>
        </li>
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
