<div class="container">
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>
  <hr />
  <div class="row mb-5">
    <div class="col-sm-4" *ngFor="let oferta of ofertas">
      <div class="card">
        <img class="card-img-top" [src]="oferta.imagens[0].url" />
        <div class="card-body">
          <h4 class="card-title">{{ oferta.titulo }}</h4>
          <p class="card-text">{{ oferta.descricaoOferta }}</p>
          <p class="preco">R$ {{ oferta.valor }}</p>
          <a class="btn btn-outline-primary" [routerLink]="['/oferta', oferta.id]">Ver oferta</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
