<div class="fixed-top">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink=""><img src="/assets/logo.png" /></a>
      <a href="#"><img src="/assets/carrinho.png" /></a>
    </div>
  </nav>
  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/restaurantes">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/diversao">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>
